@import url("font.css");

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Lato Regular", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  width: 1020px;
  margin: auto;
}

.icon__pencil {
  background-image: url(/assets/image/services/pen.svg);
}