.our-services-block {
  box-sizing: border-box;
  height: 500px;
  background-color: #f1f1f1;
  border-bottom: 6px solid $color-light;
}

.our-services-block__wrapper {
  padding-top: 68px;
  max-width: 940px;
}

.our-services-block__wrapper > p {
  height: 57px;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #767e9e;
  font-weight: 300;
  text-align: left;
  padding-top: 10px;
  letter-spacing: -0.01rem;
}

.our-services-block__layouts {
  padding-top: 30px;
}
.services {
  display: flex;
}

.services__content {
  padding-left: 20px;
}
.services__content > h4 {
  margin-bottom: 10px;
}
.services__content > p {
  width: 219px;
  height: 95px;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #767e9e;
  font-weight: 400;
  text-align: left;
  margin: 0;
  text-align: justify;
}

.services {
  > .icon {
    width: 59px;
    height: 59px;
    border-radius: 29px;
    border: 2px solid #666d89;
  }
}
.icon__pencil {
  background-image: url(../assets/image/services/pen.svg);
}
.icon__bulb {
  background-image: url(../assets/image/services/bulb.svg);
}
.icon__heart {
  background-image: url(../assets/image/services/heart.svg);
}
.icon__phone1 {
  background-image: url(../assets/image/services/phone.svg);
}
.icon__bubble {
  background-image: url(../assets/image/services/bubble.svg);
}
.icon__star {
  background-image: url(../assets/image/services/star.svg);
}
