html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  @extend %font-add;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  line-height: 0.6rem;
  color: $color-light;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.02rem;
}

h2 {
  font-size: 3rem;
  line-height: 1.8rem;
  color: $color-text;
  font-weight: 900;
  text-align: left;
  margin: 0;
  letter-spacing: -0.02rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: $color-text;
  font-weight: 900;
  text-align: left;
  margin: 0;
  letter-spacing: -0.02rem;
}
p {
  letter-spacing: -0.02rem;
}

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}
