.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  height: 89px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
}

.logo {
  padding-left: 38px;
  cursor: pointer;
}
.logo__star {
  color: $color-primary;
}

.navigation {
  display: flex;
  font-size: 1.2rem;
  line-height: 0.6rem;
  font-weight: 700;
  text-align: left;
  padding-right: 40px;
  padding-top: 10px;
}

.navigation__link {
  list-style: none;
  letter-spacing: 0.01rem;
  padding: 0 0 0 12px;
  cursor: pointer;
}

.navigation__link:not(:last-child)::after {
  content: $point;
  display: inline-block;
  line-height: 1px;
  color: #494e62;
  padding-left: 12px;
}

.navigation__link > a {
  text-decoration: none;
  color: $color-light;
  text-transform: uppercase;
}

.navigation__link > a:hover {
  color: $color-primary;
}
